* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

<<<<<<< HEAD
a {
  text-decoration: none;
  transition: 0.4s; }

li {
  text-transform: capitalize; }

ul {
  margin: 0;
  padding: 0;
  text-decoration: none; }
  ul li {
    list-style: none; }

img {
  max-width: 100%;
  transition: 0.4s; }

.color-list li a span, .size-list li a span {
  float: right; }

.brendshop-area {
  width: 100%;
  background-image: url(../images/arxafon/breadcrumb-banner.jpeg); }
  .brendshop-area .container .row .col-12 .breand-shop ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    .brendshop-area .container .row .col-12 .breand-shop ul li a {
      color: black; }
  .brendshop-area .container .row .col-12 .breand-shop ul li {
    color: orange;
    font-size: 16px; }

.shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single {
  margin-bottom: 35px; }
  .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-title {
    margin-bottom: 20px;
    position: relative; }
    .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-title h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      margin-top: -3px;
      text-transform: capitalize; }
  .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-body ul {
    margin: 0;
    padding: 0; }
    .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-body ul li a {
      color: black; }

/*--categorie end--*/
.productitem {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  transition: 0.4s;
  position: relative;
  text-align: center; }
  .productitem:hover {
    border-color: #e3a51e; }
    .productitem:hover .product-action-link a {
      opacity: 1;
      visibility: visible; }
      .productitem:hover .product-action-link a:first-child {
        right: 130px; }
      .productitem:hover .product-action-link a:last-child {
        left: 130px; }

.productthumb {
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center; }
  .productthumb img {
    margin-left: auto;
    margin-right: auto; }

.productcontent {
  padding: 20px 15px 40px; }
  .productcontent .productname {
    padding-bottom: 12px; }
  .productcontent a {
    text-decoration: none; }

.productname {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize; }
  .productname a {
    color: #333333;
    font-weight: 500; }
    .productname a:hover {
      color: #e3a51e; }

.pricebox {
  font-family: "Montserrat", sans-serif;
  line-height: 1; }
  .pricebox .priceregular {
    color: #333333;
    font-size: 18px; }

.pricebox {
  font-size: 16px; }

.ratings {
  font-size: 16px;
  color: #e3a51e; }

.productaction-link a {
  left: 0;
  right: 0;
  bottom: -23px;
  margin: auto;
  position: absolute;
  color: #e3a51e;
  width: 46px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s; }
  .productaction-link a:hover {
    color: #fff;
    background-color: #e3a51e; }
  .productaction-link a:nth-child(2) {
    z-index: 2;
    opacity: 1;
    visibility: visible; }
  .productaction-link a span {
    display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: 0.4s; }

li {
  text-transform: capitalize; }

ul {
  margin: 0;
  padding: 0;
  text-decoration: none; }
  ul li {
    list-style: none; }

img {
  max-width: 100%;
  transition: 0.4s; }

.color-list li a span, .size-list li a span {
  float: right; }

.brendshop-area {
  width: 100%;
  background-image: url(../images/arxafon/breadcrumb-banner.jpeg); }
  .brendshop-area .container .row .col-12 .breand-shop ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    .brendshop-area .container .row .col-12 .breand-shop ul li a {
      color: black; }
  .brendshop-area .container .row .col-12 .breand-shop ul li {
    color: orange;
    font-size: 16px; }

.shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single {
  margin-bottom: 35px; }
  .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-title {
    margin-bottom: 20px;
    position: relative; }
    .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-title h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      margin-top: -3px;
      text-transform: capitalize; }
  .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-body ul {
    margin: 0;
    padding: 0; }
    .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-body ul li a {
      color: black; }

/*--categorie end--*/
.productitem {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  transition: 0.4s;
  position: relative;
  text-align: center; }
  .productitem:hover {
    border-color: #e3a51e; }
    .productitem:hover .product-action-link a {
      opacity: 1;
      visibility: visible; }
      .productitem:hover .product-action-link a:first-child {
        right: 130px; }
      .productitem:hover .product-action-link a:last-child {
        left: 130px; }

.productthumb {
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center; }
  .productthumb img {
    margin-left: auto;
    margin-right: auto; }

.productcontent {
  padding: 20px 15px 40px; }
  .productcontent .productname {
    padding-bottom: 12px; }
  .productcontent a {
    text-decoration: none; }

.productname {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize; }
  .productname a {
    color: #333333;
    font-weight: 500; }
    .productname a:hover {
      color: #e3a51e; }

.pricebox {
  font-family: "Montserrat", sans-serif;
  line-height: 1; }
  .pricebox .priceregular {
    color: #333333;
    font-size: 18px; }

.pricebox {
  font-size: 16px; }

.ratings {
  font-size: 16px;
  color: #e3a51e; }

.productaction-link a {
  left: 0;
  right: 0;
  bottom: -23px;
  margin: auto;
  position: absolute;
  color: #e3a51e;
  width: 46px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s; }
  .productaction-link a:hover {
    color: #fff;
    background-color: #e3a51e; }
  .productaction-link a:nth-child(2) {
    z-index: 2;
    opacity: 1;
    visibility: visible; }
  .productaction-link a span {
    display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: 0.4s; }

li {
  text-transform: capitalize; }

ul {
  margin: 0;
  padding: 0;
  text-decoration: none; }
  ul li {
    list-style: none; }

img {
  max-width: 100%;
  transition: 0.4s; }

.color-list li a span, .size-list li a span {
  float: right; }

.brendshop-area {
  width: 100%;
  background-image: url(../images/arxafon/breadcrumb-banner.jpeg); }
  .brendshop-area .container .row .col-12 .breand-shop ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    .brendshop-area .container .row .col-12 .breand-shop ul li a {
      color: black; }
  .brendshop-area .container .row .col-12 .breand-shop ul li {
    color: orange;
    font-size: 16px; }

.shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single {
  margin-bottom: 35px; }
  .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-title {
    margin-bottom: 20px;
    position: relative; }
    .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-title h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      margin-top: -3px;
      text-transform: capitalize; }
  .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-body ul {
    margin: 0;
    padding: 0; }
    .shop-categorie-wrapper .container .row .col-3 .shopbar-wrapper .shopbar-single .shopbar-body ul li a {
      color: black; }

/*--categorie end--*/
.productitem {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  transition: 0.4s;
  position: relative;
  text-align: center; }
  .productitem:hover {
    border-color: #e3a51e; }
    .productitem:hover .product-action-link a {
      opacity: 1;
      visibility: visible; }
      .productitem:hover .product-action-link a:first-child {
        right: 130px; }
      .productitem:hover .product-action-link a:last-child {
        left: 130px; }

.productthumb {
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center; }
  .productthumb img {
    margin-left: auto;
    margin-right: auto; }

.productcontent {
  padding: 20px 15px 40px; }
  .productcontent .productname {
    padding-bottom: 12px; }
  .productcontent a {
    text-decoration: none; }

.productname {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize; }
  .productname a {
    color: #333333;
    font-weight: 500; }
    .productname a:hover {
      color: #e3a51e; }

.pricebox {
  font-family: "Montserrat", sans-serif;
  line-height: 1; }
  .pricebox .priceregular {
    color: #333333;
    font-size: 18px; }

.pricebox {
  font-size: 16px; }

.ratings {
  font-size: 16px;
  color: #e3a51e; }

.productaction-link a {
  left: 0;
  right: 0;
  bottom: -23px;
  margin: auto;
  position: absolute;
  color: #e3a51e;
  width: 46px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s; }
  .productaction-link a:hover {
    color: #fff;
    background-color: #e3a51e; }
  .productaction-link a:nth-child(2) {
    z-index: 2;
    opacity: 1;
    visibility: visible; }
  .productaction-link a span {
    display: block; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  transition: 0.4s;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  text-decoration: none; }
  ul li {
    list-style: none; }

img {
  max-width: 100%;
  transition: 0.4s; }

.theme-bg {
  background-color: #e3a51e; }

.color1 {
  background-color: #c3ead5; }

.bg-1 {
  background-color: #fcedda; }

.bg-2 {
  background-color: #f2fbcb; }

.bg-3 {
  background-color: #f7d8f9; }

/*----------- header start -----------*/
.header__top {
  padding: 13px 0; }

.header__top__settings ul li {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none; }
  .header__top__settings ul li:before {
    top: 50%;
    left: 0;
    width: 1px;
    height: 15px;
    position: absolute;
    background-color: #e5e5e5;
    transform: translateY(-50%); }
  .header__top__settings ul li:first-child {
    padding-left: 0;
    margin-left: 0; }
    .header__top__settings ul li:first-child:before {
      display: none; }
  .header__top__settings ul li span {
    cursor: auto;
    font-size: 13px;
    text-transform: capitalize; }
  .header__top__settings ul li .dropdown__list {
    top: 100%;
    right: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: 0.4s;
    padding: 15px 15px 20px;
    width: 150px;
    z-index: 9;
    text-align: left;
    background-color: #fff;
    pointer-events: none;
    border: 1px solid #e5e5e5; }
    .header__top__settings ul li .dropdown__list li {
      margin-left: 0;
      padding: 0; }
      .header__top__settings ul li .dropdown__list li a {
        color: #666666;
        font-size: 13px;
        display: block;
        padding: 5px 0 3px;
        text-transform: capitalize; }
        .header__top__settings ul li .dropdown__list li a:hover {
          color: #e3a51e; }
        .header__top__settings ul li .dropdown__list li a img {
          vertical-align: inherit; }
      .header__top__settings ul li .dropdown__list li:before {
        display: none; }
  .header__top__settings ul li:hover .dropdown__list {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transform: translateY(0); }

.welcome__message p {
  color: #fff;
  font-size: 14px;
  line-height: 1; }

/*----------- header end -----------*/
/*---------- header mini cart start ----------*/
.header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header {
  padding-right: 10px; }
  .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li {
    display: inline-block;
    margin-left: 25px;
    line-height: 0; }
    .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li a {
      font-size: 25px;
      line-height: 0;
      color: #333333;
      position: relative; }
      .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li a .notification {
=======
*, ::after, ::before {
  box-sizing: border-box; }

div {
  display: block; }

header .main-header {
  background-color: #e3a51e; }
  header .main-header .header-top {
    padding: 13px 0; }
    header .main-header .header-top .container .row .col-lg-6 .welcome-message p {
      color: #fff;
      font-size: 14px;
      line-height: 1; }
    header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li {
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      position: relative;
      margin-left: 20px;
      padding-left: 20px;
      font-family: "Montserrat", sans-serif; }
      header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li:before {
        top: 51%;
        left: 0;
        width: 1px;
        height: 15px;
        content: "";
        position: absolute;
        background-color: #e5e5e5;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li:first-child {
        padding-left: 0;
        margin-left: 0; }
        header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li:first-child:before {
          display: none; }
      header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li span {
        cursor: auto;
        font-size: 13px;
        text-transform: capitalize; }
      header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li .dropdown-list {
        top: 100%;
        right: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        padding: 15px 15px 20px;
        width: 150px;
        z-index: 9;
        text-align: left;
        background-color: #fff;
        pointer-events: none;
        border: 1px solid #e5e5e5; }
        header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li .dropdown-list li {
          margin-left: 0;
          padding: 0; }
          header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li .dropdown-list li a {
            text-decoration: none;
            color: #666666;
            font-size: 13px;
            display: block;
            padding: 5px 0 3px;
            text-transform: capitalize; }
            header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li .dropdown-list li a:hover {
              color: #e3a51e; }
            header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li .dropdown-list li a img {
              vertical-align: inherit; }
          header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li .dropdown-list li:before {
            display: none; }
      header .main-header .header-top .container .row .col-lg-6 .header-top-settings ul li:hover .dropdown-list {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }

.header-main-area .container .row .col-lg-2 .logo a img {
  max-width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.menu .container .row .main-menu ul {
  list-style: none;
  padding-left: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -80px;
  margin-top: -70px; }
  .menu .container .row .main-menu ul li {
    position: relative; }
    .menu .container .row .main-menu ul li.static {
      position: static; }
    .menu .container .row .main-menu ul li a {
      text-decoration: none;
      color: #333333;
      font-size: 16px;
      padding: 52px 15px;
      font-weight: 500;
      display: block;
      line-height: 1;
      text-transform: uppercase;
      border-radius: 5px;
      font-family: "Montserrat", sans-serif; }
      .menu .container .row .main-menu ul li a i {
        font-size: 14px;
        padding: 0 3px; }
    .menu .container .row .main-menu ul li:first-child a {
      padding-left: 0; }
    .menu .container .row .main-menu ul li ul.dropdown {
      top: 100%;
      left: 0;
      width: 220px;
      position: absolute;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 99999;
      padding: 20px 0;
      pointer-events: none;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      border: 1px solid #e5e5e5; }
      .menu .container .row .main-menu ul li ul.dropdown li {
        margin-right: 0;
        border-right: none;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0; }
        .menu .container .row .main-menu ul li ul.dropdown li a {
          color: #666666;
          font-size: 14px;
          font-weight: 400;
          padding: 10px 15px;
          text-transform: capitalize; }
          .menu .container .row .main-menu ul li ul.dropdown li a i {
            float: right;
            padding-top: 5px; }
        .menu .container .row .main-menu ul li ul.dropdown li:hover > a {
          color: #e3a51e;
          background-color: #fff; }
        .menu .container .row .main-menu ul li ul.dropdown li:hover ul.dropdown {
          top: 0;
          opacity: 1;
          visibility: visible; }
        .menu .container .row .main-menu ul li ul.dropdown li ul.dropdown {
          top: 100%;
          left: 100%;
          position: absolute;
          width: 250px;
          opacity: 0;
          visibility: hidden; }
    .menu .container .row .main-menu ul li ul.megamenu {
      display: block;
      opacity: 1;
      width: calc(100% - 30px);
      padding: 20px;
      border: 1px solid #e5e5e5;
      left: 0;
      right: 0;
      margin: auto; }
      .menu .container .row .main-menu ul li ul.megamenu li {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
        .menu .container .row .main-menu ul li ul.megamenu li.mega-title > a {
          color: #333333;
          font-size: 16px;
          font-weight: 500; }
        .menu .container .row .main-menu ul li ul.megamenu li ul li {
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
        .menu .container .row .main-menu ul li ul.megamenu li:hover > a {
          color: #e3a51e; }
        .menu .container .row .main-menu ul li ul.megamenu li.megamenu-banners {
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          margin-top: 25px;
          padding-bottom: 10px;
          position: relative; }
          .menu .container .row .main-menu ul li ul.megamenu li.megamenu-banners:before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            pointer-events: none;
            background-color: rgba(255, 255, 255, 0.4);
            opacity: 0;
            visibility: hidden;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s; }
          .menu .container .row .main-menu ul li ul.megamenu li.megamenu-banners:hover:before {
            opacity: 1;
            visibility: visible; }
    .menu .container .row .main-menu ul li:hover ul.dropdown {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0); }
    .menu .container .row .main-menu ul li:hover ul.megamenu {
      opacity: 1;
      visibility: visible; }

.menu .container .row .main-menu ul li:hover > a, .menu .container .row .main-menu ul li.active > a {
  color: #e3a51e; }

.menu .container .row .header-transparent {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 1; }

.menu .container .row .sticky.is-sticky {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
  animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown; }
  .menu .container .row .sticky.is-sticky .main-menu li a {
    padding: 30px 15px; }
  .menu .container .row .sticky.is-sticky .main-menu li .dropdown li a {
    padding: 10px 15px; }
  .menu .container .row .sticky.is-sticky .main-menu li:first-child a {
    padding-left: 0;
    position: absolute;
    top: 100px;
    color: white;
    margin: 0 100px;
    max-width: 400px; }

.menu .container .row .col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.header-configure-area {
  padding-right: 10px;
  width: 100%; }
  .header-configure-area ul li {
    display: inline-block;
    margin-left: 40px;
    line-height: 1; }
    .header-configure-area ul li a {
      font-size: 25px;
      line-height: 1;
      color: #1f1f1f;
      position: absolute;
      margin-top: -25px;
      margin-left: 712px; }
      .header-configure-area ul li a .notification {
>>>>>>> 4c726bfa09a3341419e3a796e63383bdb49cb606
        top: -3px;
        right: -8px;
        position: absolute;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        font-size: 10px;
        color: #fff;
        border-radius: 50%;
        background-color: #e3a51e; }
<<<<<<< HEAD
      .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li a:hover {
        color: #e3a51e; }
    .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li:first-child {
      margin-left: 0; }
    .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li.user-hover {
      position: relative; }
      .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li.user-hover .dropdown-list {
=======
    .header-configure-area ul li:first-child {
      margin-left: 0; }
    .header-configure-area ul li.user-hover {
      position: relative; }
      .header-configure-area ul li.user-hover .dropdown-list {
>>>>>>> 4c726bfa09a3341419e3a796e63383bdb49cb606
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        padding: 20px;
        background-color: #fff;
        z-index: 11;
<<<<<<< HEAD
        transform: translateY(30px);
=======
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
>>>>>>> 4c726bfa09a3341419e3a796e63383bdb49cb606
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        border: 1px solid #e5e5e5; }
<<<<<<< HEAD
        .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li.user-hover .dropdown-list li {
          display: block;
          margin-left: 0; }
          .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li.user-hover .dropdown-list li a {
=======
        .header-configure-area ul li.user-hover .dropdown-list li {
          display: block;
          margin-left: 0; }
          .header-configure-area ul li.user-hover .dropdown-list li a {
>>>>>>> 4c726bfa09a3341419e3a796e63383bdb49cb606
            color: #666666;
            font-size: 13px;
            line-height: 1;
            display: block;
            padding: 8px 0;
            text-transform: capitalize; }
<<<<<<< HEAD
            .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li.user-hover .dropdown-list li a:hover {
              color: #e3a51e; }
      .header__main__area .container .row .col-lg-2 .configure-wrapper-header .configure-area-header ul li.user-hover:hover .dropdown-list {
        opacity: 1;
        visibility: visible;
        transform: none; }

/*---------- header mini cart end ----------*/
.main-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main-menu ul li {
    position: relative; }
    .main-menu ul li.static {
      position: static; }
    .main-menu ul li a {
      color: #333333;
      font-size: 16px;
      padding: 52px 15px;
      font-weight: 500;
      display: block;
      line-height: 1;
      text-transform: uppercase;
      border-radius: 5px;
      font-family: "Montserrat", sans-serif; }
      .main-menu ul li a i {
        font-size: 14px;
        padding: 0 3px; }
    .main-menu ul li:first-child a {
      padding-left: 0; }
    .main-menu ul li ul.dropdown {
      top: 100%;
      left: 0;
      width: 220px;
      position: absolute;
      transition: 0.4s;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 99999;
      padding: 20px 0;
      pointer-events: none;
      transform: translateY(20px);
      border: 1px solid #e5e5e5; }
      .main-menu ul li ul.dropdown li {
        margin-right: 0;
        border-right: none;
        flex-basis: 100%;
        padding: 0; }
        .main-menu ul li ul.dropdown li a {
          color: #666666;
          font-size: 14px;
          font-weight: 400;
          padding: 10px 15px;
          text-transform: capitalize; }
          .main-menu ul li ul.dropdown li a i {
            float: right;
            padding-top: 5px; }
        .main-menu ul li ul.dropdown li:hover > a {
          color: #e3a51e;
          background-color: #fff; }
        .main-menu ul li ul.dropdown li:hover ul.dropdown {
          top: 0;
          opacity: 1;
          visibility: visible; }
        .main-menu ul li ul.dropdown li ul.dropdown {
          top: 100%;
          left: 100%;
          position: absolute;
          width: 250px;
          opacity: 0;
          visibility: hidden; }
    .main-menu ul li ul.megamenu {
      width: calc(100% - 30px);
      padding: 20px;
      border: 1px solid #e5e5e5;
      left: 0;
      right: 0;
      margin: auto; }
      .main-menu ul li ul.megamenu li {
        flex-basis: 25%; }
        .main-menu ul li ul.megamenu li.mega-title > a {
          color: #333333;
          font-size: 16px;
          font-weight: 500; }
        .main-menu ul li ul.megamenu li ul li {
          flex-basis: 100%; }
        .main-menu ul li ul.megamenu li:hover > a {
          color: #e3a51e; }
        .main-menu ul li ul.megamenu li.megamenu-banners {
          flex-basis: 100%;
          margin-top: 25px;
          padding-bottom: 10px;
          position: relative; }
          .main-menu ul li ul.megamenu li.megamenu-banners:before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            pointer-events: none;
            background-color: rgba(255, 255, 255, 0.4);
            opacity: 0;
            visibility: hidden;
            transition: 0.4s; }
          .main-menu ul li ul.megamenu li.megamenu-banners:hover:before {
            opacity: 1;
            visibility: visible; }
    .main-menu ul li:hover ul.dropdown {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
      transform: translate(0); }
    .main-menu ul li:hover ul.megamenu {
      opacity: 1;
      visibility: visible; }

/*------- short classes start -------*/
.section-padding {
  padding: 80px 0; }

.section-padding {
  padding: 62px 0; }

.mb-30 {
  margin-bottom: 30px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-50 {
  margin-bottom: 73px !important; }

.mb-53 {
  margin-bottom: 53px !important; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-90 {
  margin-top: 90px; }

.mt-100 {
  margin-top: 100px; }

.mtn-20 {
  margin-top: -20px; }

.mbn-30 {
  margin-bottom: -30px; }

.mbn-50 {
  margin-bottom: -50px; }

.mtn-30 {
  margin-top: -30px; }

.mtn-40 {
  margin-top: -40px; }

.ptb-30 {
  padding: 30px 0; }

.mtn-100 {
  margin-top: -100px; }

/*----- mobile menu start -----*/
/*------ offcanvas widget area start ------*/
/*------- mobile top bar settings start -------*/
.offcanvas-search-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 9; }
  .offcanvas-search-inner.show {
    opacity: 1;
    visibility: visible; }
    .offcanvas-search-inner.show .offcanvas-search-box {
      transform: translateY(0); }
  .offcanvas-search-inner .offcanvas-close {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    color: #e3a51e;
    font-size: 22px;
    cursor: pointer;
    top: 50px;
    right: 50px;
    position: absolute;
    z-index: 9; }
    .offcanvas-search-inner .offcanvas-close i {
      display: block;
      line-height: 50px;
      transition: 0.6s; }
    .offcanvas-search-inner .offcanvas-close:hover i {
      transform: rotate(180deg); }

.offcanvas-search-box {
  height: 100vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  transition: 0.4s;
  transition-delay: 0.6s; }
  .offcanvas-search-box .bdr-bottom {
    border-color: #e3a51e; }
  .offcanvas-search-box input {
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    padding-bottom: 15px;
    background-color: transparent; }
  .offcanvas-search-box .search-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    line-height: 1;
    padding-bottom: 15px;
    text-transform: capitalize;
    transition: 0.4s; }
    .offcanvas-search-box .search-btn i {
      display: block;
      line-height: 1;
      font-size: 28px;
      padding-right: 15px; }
    .offcanvas-search-box .search-btn:hover {
      color: #e3a51e; }

/*-------- off canvas mini cart start --------*/
.minicart-inner {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  z-index: 9;
  opacity: 0;
  visibility: hidden; }
  .minicart-inner .offcanvas-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); }
  .minicart-inner.show {
    opacity: 1;
    visibility: visible; }
    .minicart-inner.show .minicart-inner-content {
      transform: none; }
  .minicart-inner .minicart-close {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #e3a51e;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    top: 0;
    right: 375px;
    position: absolute; }
    .minicart-inner .minicart-close i {
      display: block;
      line-height: 50px;
      transition: 0.6s; }
    .minicart-inner .minicart-close:hover i {
      transform: rotate(180deg); }
  .minicart-inner .minicart-inner-content {
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 375px;
    position: absolute;
    background-color: #fff;
    transform: translateX(calc(100% + 50px));
    transition: 0.4s;
    padding: 50px 20px; }

.minicart-content-box {
  overflow: auto;
  height: 100%;
  padding-right: 30px;
  margin-right: -15px; }
  .minicart-content-box .minicart-item-wrapper {
    border-bottom: 1px solid #e5e5e5; }
    .minicart-content-box .minicart-item-wrapper ul li {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e5e5e5; }
      .minicart-content-box .minicart-item-wrapper ul li:last-child {
        border-bottom: none;
        padding-bottom: 0; }
    .minicart-content-box .minicart-item-wrapper .minicart-item {
      display: flex;
      flex-wrap: wrap; }
      .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb {
        max-width: 85px;
        -ms-flex-preferred-size: 85px;
        flex-basis: 85px;
        border: 1px solid #dfdede; }
        .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb .minicart-content {
          padding: 0 10px;
          max-width: calc(100% - 115px);
          -ms-flex-preferred-size: calc(100% - 115px);
          flex-basis: calc(100% - 115px); }
          .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb .minicart-content .product-name {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            padding-bottom: 10px; }
            .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb .minicart-content .product-name a {
              color: #333333; }
              .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb .minicart-content .product-name a:hover {
                color: #e3a51e; }
          .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb .minicart-content .cart-quantity {
            font-size: 12px;
            color: #666666;
            line-height: 1; }
            .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb .minicart-content .cart-quantity strong {
              font-size: 16px;
              font-weight: 400;
              vertical-align: text-bottom; }
          .minicart-content-box .minicart-item-wrapper .minicart-item .minicart-thumb .minicart-content .cart-price {
            color: #e3a51e;
            font-size: 14px;
            font-weight: 500;
            line-height: 1; }

.minicart-remove {
  max-width: 30px;
  -ms-flex-preferred-size: 30px;
  flex-basis: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: #333333; }
  .minicart-remove:hover {
    color: #e3a51e; }

.minicart-pricing-box {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 15px; }
  .minicart-pricing-box li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between; }
    .minicart-pricing-box li span {
      font-size: 14px;
      color: #333333;
      text-transform: capitalize; }
      .minicart-pricing-box li span strong {
        color: #e3a51e;
        font-weight: 500; }
    .minicart-pricing-box li.total span {
      font-size: 16px;
      font-weight: 500; }
    .minicart-pricing-box li:last-child {
      margin-bottom: 0; }

.minicart-button a {
  color: #fff;
  font-size: 13px;
  display: block;
  font-weight: 500;
  line-height: 1;
  padding: 17px 0;
  background-color: #333333;
  text-transform: uppercase;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 10px; }
  .minicart-button a i {
    padding-right: 5px; }
  .minicart-button a:hover {
    background-color: #e3a51e; }
  .minicart-button a:last-child {
    margin-bottom: 0; }

.section-title {
  padding-bottom: 42px; }
  .section-title .title {
    color: #333333;
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 12px;
    margin-top: -8px;
    text-transform: capitalize; }

.section-title .sub-title {
  font-size: 18px; }

/*------ brand area start ------*/
.brand-item img {
  margin: auto;
  opacity: 0.3; }

.brand-item:hover img {
  opacity: 1; }

/*------ hero slider area css start ------*/
.sliders .slider .container {
  margin-bottom: 50px; }
  .sliders .slider .container .row {
    height: 470px;
    display: flex;
    align-items: center; }
    .sliders .slider .container .row .carousel .carousel-inner img {
      position: relative; }
    .sliders .slider .container .row .carousel .carousel-inner .slide-1 {
      position: absolute;
      top: 100px;
      color: white;
      margin: 0 100px;
      max-width: 400px; }
    .sliders .slider .container .row .carousel .carousel-inner a {
      margin-top: 32px;
      color: #333333;
      background-color: #e5e5e5;
      border-radius: 50px;
      padding: 18px 44px; }
    .sliders .slider .container .row .carousel .carousel-inner .slide-2 {
      position: absolute;
      top: 100px;
      color: white;
      margin: 0 100px;
      max-width: 400px; }
    .sliders .slider .container .row .carousel .carousel-inner .hero-slider-conten {
      position: absolute; }
    .sliders .slider .container .row .button {
      color: #333333;
      background-color: #e5e5e5;
      border-radius: 50px;
      padding: 18px 44px; }

/*------- product area start -------*/
.product-item {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  transition: 0.4s;
  position: relative;
  text-align: center; }
  .product-item:hover {
    border-color: #e3a51e; }
    .product-item:hover .product-action-link a {
      opacity: 1;
      visibility: visible; }
      .product-item:hover .product-action-link a:first-child {
        right: 130px; }
      .product-item:hover .product-action-link a:last-child {
        left: 130px; }

.product-thumb {
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center; }
  .product-thumb img {
    margin-left: auto;
    margin-right: auto; }

.product-content {
  padding: 20px 15px 40px; }
  .product-content .product-name {
    padding-bottom: 12px; }
  .product-content a {
    text-decoration: none; }

.product-name {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize; }
  .product-name a {
    color: #333333;
    font-weight: 500; }
    .product-name a:hover {
      color: #e3a51e; }

.price-box {
  font-family: "Montserrat", sans-serif;
  line-height: 1; }
  .price-box .price-regular {
    color: #333333;
    font-size: 18px; }

.price-old {
  font-size: 16px; }

.ratings {
  font-size: 16px;
  color: #e3a51e; }

.product-action-link a {
  left: 0;
  right: 0;
  bottom: -23px;
  margin: auto;
  position: absolute;
  color: #e3a51e;
  width: 46px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s; }
  .product-action-link a:hover {
    color: #fff;
    background-color: #e3a51e; }
  .product-action-link a:nth-child(2) {
    z-index: 2;
    opacity: 1;
    visibility: visible; }
  .product-action-link a span {
    display: block; }

.pro-item-small {
  display: flex; }
  .pro-item-small .product-thumb img {
    width: 100%; }

.pro-item-small .product-thumb {
  width: 180px;
  border-radius: 0; }

.pro-small-content {
  position: relative;
  padding-left: 20px;
  width: calc(100% - 180px); }
  .pro-small-content .product-name {
    font-size: 16px;
    color: #333333;
    padding-bottom: 13px;
    text-transform: capitalize; }

.product-link-2 a {
  width: 44px;
  height: 44px;
  font-size: 22px;
  color: #333333;
  line-height: 44px;
  text-align: center;
  display: inline-block;
  background-color: #f6f6f6; }

.pro-small-content .price-regular {
  font-size: 16px; }

.pro-small-content .price-old {
  font-size: 16px; }

.pro-small-content .ratings {
  padding-top: 20px; }

.product-link-2 {
  left: 20px;
  bottom: 0;
  position: absolute; }
  .product-link-2 a span {
    display: block; }
  .product-link-2 a:hover {
    color: #fff;
    background-color: #e3a51e; }

.statistics-banner .container .row .col-md-6 .image-container {
  position: relative;
  overflow: hidden; }
  .statistics-banner .container .row .col-md-6 .image-container a img {
    transform: scale(1.1); }
  .statistics-banner .container .row .col-md-6 .image-container:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  .statistics-banner .container .row .col-md-6 .image-container:hover::before {
    opacity: 1;
    visibility: visible; }
  .statistics-banner .container .row .col-md-6 .image-container:hover img {
    transform: scale(1.1); }

.statistics-banner .container .row .col-md-6 .image-container .text-banner {
  left: 0;
  top: 50%;
  width: 100%;
  padding: 0 50px;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  max-width: 767px;
  text-transform: uppercase; }
  .statistics-banner .container .row .col-md-6 .image-container .text-banner h5 {
    color: #fff;
    margin: 30px 0; }
  .statistics-banner .container .row .col-md-6 .image-container .text-banner h3 {
    color: #fff;
    font-size: 30px;
    line-height: 1.4; }

.blog-area .container .row .col-12 .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .blog-post-item .blog-content a {
  text-decoration: none;
  color: #000; }

.brand-hall-area .container .row .col-12 .owl-carousel .owl-dots {
  display: none; }

.blog-area .container .row .col-12 .owl-carousel .owl-dots {
  display: none; }

.seller-top-area .container .row .col-xl-8 .row .owl-carousel .owl-dots {
  display: none; }

.container .row .col-12 .product-carousel-4 .owl-carousel .owl-dots {
  display: none; }

.header__main__area .container .row .col-lg-8 .main-menu-area .main-menu a {
  text-decoration: none; }

.footer-widget-area {
  background-color: #f0f0f0; }
  .footer-widget-area .container .row .col-xl-5 .widget-item .widget-body ul {
    line-height: 1; }
    .footer-widget-area .container .row .col-xl-5 .widget-item .widget-body ul a {
      text-decoration: none;
      color: black;
      transition: 0.4s; }
    .footer-widget-area .container .row .col-xl-5 .widget-item .widget-body ul li {
      margin: 15px; }
      .footer-widget-area .container .row .col-xl-5 .widget-item .widget-body ul li i {
        margin: 15px; }
  .footer-widget-area .container .row .col-xl-2 .widget-item .widget-body ul {
    line-height: 2; }
    .footer-widget-area .container .row .col-xl-2 .widget-item .widget-body ul a {
      text-decoration: none;
      color: black; }

.footer-bottom {
  background-color: #e4e4e4;
  padding: 20px 0; }
  .footer-bottom .container .row i {
    color: black;
    margin: 10px; }
  .footer-bottom .container .row .col-md-6 .copyright-text a {
    color: #e3a51e;
    text-decoration: none; }
  .footer-bottom .container .row .col-md-6 .copyright-text p {
    font-size: 14px; }
=======
            .header-configure-area ul li.user-hover .dropdown-list li a:hover {
              color: #e3a51e; }
      .header-configure-area ul li.user-hover:hover .dropdown-list {
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }

.sliders .slider .container .row {
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sliders .slider .container .row .carousel .carousel-inner img {
    position: relative; }
  .sliders .slider .container .row .carousel .carousel-inner .slide-1 {
    position: absolute;
    top: 100px;
    color: white;
    margin: 0 100px;
    max-width: 400px; }
  .sliders .slider .container .row .carousel .carousel-inner a {
    margin-top: 32px;
    color: #333333;
    background-color: #e5e5e5;
    border-radius: 50px;
    padding: 18px 44px; }
  .sliders .slider .container .row .carousel .carousel-inner .slide-2 {
    position: absolute;
    top: 100px;
    color: white;
    margin: 0 100px;
    max-width: 400px; }
  .sliders .slider .container .row .carousel .carousel-inner .hero-slider-conten {
    position: absolute; }
  .sliders .slider .container .row .button {
    color: #333333;
    background-color: #e5e5e5;
    border-radius: 50px;
    padding: 18px 44px; }

.service__policy__area .container row .col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  .service__policy__area .container row .col-lg-4 .service__policy__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px; }

.service__policy__area .container row .mt-30 {
  margin-top: 30px; }

.service__policy__area .container row .bg-1 {
  background-color: #f98d00; }
>>>>>>> 4c726bfa09a3341419e3a796e63383bdb49cb606
